# don't add these files/directories to github release tarballs (composer dist install)
/data/ export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/README.md export-ignore